@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto&display=swap');

$font-logo: 'Libre Baskerville',
serif;

$font-main: 'Roboto',
sans-serif;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}