@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #191923;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .navbar {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
header .navbar a {
  text-decoration: none;
  color: #d1cfcf;
  padding: 0 30px;
  font-family: "Libre Baskerville", serif;
}
header .navbar a:hover {
  color: #f3b61f;
  transition: 0.9s;
}
header .toggle-menu {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 30px;
  height: 21px;
  z-index: 1;
}
header .toggle-menu .bar {
  height: 4px;
  width: 100%;
  background-color: #d1cfcf;
  border-radius: 10px;
}

.box-landing {
  background-image: url(../images/landpage.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-color: rgba(38, 38, 38, 0.6);
}

.box-about-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.box-about-flex .box-img {
  flex: 30%;
}
.box-about-flex .box-img .box-img-size {
  width: 80%;
  margin: 0 auto;
}
.box-about-flex .box-text {
  padding: 30px;
  line-height: 1.8;
  flex: 50%;
}
.box-about-flex .box-text p {
  text-align: justify;
}

.grid-container-skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}
.grid-container-skills > div {
  height: 15em;
  text-align: center;
  border: 2px solid #535252;
}

.grid-container-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 30px;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 110px;
}

.end {
  width: 100%;
  height: 10vh;
  margin-top: 40px;
  background-color: #191923;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .end {
    flex-direction: column;
    height: auto;
  }
  .end .end__left {
    display: none;
  }
  .end .end__right img {
    width: 30px;
  }
}
/*grid skills container for tablet*/
@media screen and (max-width: 991px) {
  .grid-container-skills,
.grid-container-projects {
    grid-template-columns: repeat(2, 48%);
  }
}
/* For mobile phones skills-grid and flex-box contact form */
@media screen and (max-width: 600px) {
  .grid-container-skills {
    grid-template-columns: repeat(1, 100%);
  }

  .grid-container-projects {
    grid-template-columns: repeat(1, 100%);
  }

  #contact {
    flex-direction: column;
  }
}
@media screen and (max-width: 300px) {
  .grid-container-skills > div,
.item {
    height: auto;
  }
}
/*for mobile flex container section-about*/
@media screen and (max-width: 768px) {
  .box-about-flex {
    flex-direction: column;
  }
}
/*header container tablet, mobile version*/
@media screen and (max-width: 991px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  header .toggle-menu {
    display: flex;
  }
  header .navbar {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    display: none;
    overflow: hidden;
  }
  header .navbar a {
    padding: 0.5rem 1rem;
  }
  header .navbar.active {
    display: flex;
  }
}
#logo {
  font-size: 2.5rem;
  font-weight: bold;
}
#logo .sign {
  display: inline-block;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  color: #d1cfcf;
  padding: 0 30px;
  margin-left: 2rem;
  cursor: pointer;
}
#logo .sign-slashes {
  color: #d1cfcf;
  font-family: "Libre Baskerville", serif;
}

@media screen and (max-width: 991px) {
  #logo .sign {
    font-size: 1.5rem;
    margin-left: 0;
  }
}
.box-title {
  width: 50rem;
  padding: 20px;
  background-color: rgba(42, 42, 42, 0.6);
}
.box-title .title {
  text-align: center;
}
.box-title .title p {
  color: white;
  font-size: 3em;
  padding: 10px 0;
  font-family: "Libre Baskerville", serif;
  text-shadow: 2px 2px 4px #000000;
}
.box-title .title .title-profession {
  font-size: 2em;
}
.box-title .link {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.box-title .link .btn-link1 {
  width: 10em;
  font-size: 20px;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #ba9b4a;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .box-title {
    font-size: 0.7rem;
    width: auto;
  }
}
#about h2 {
  display: inline-block;
  border-bottom: 3px solid grey;
  padding: 40px 100px 10px 30px;
  margin-left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  margin-top: 50px;
}

.text-header {
  color: #ef9cb9;
  font-size: 30px;
  font-family: "Libre Baskerville", serif;
}

.text-subheader {
  font-size: 25px;
  font-family: "Libre Baskerville", serif;
}

.text-lastLine {
  line-height: 2.5;
}

#profile-img {
  width: 100%;
  height: auto;
  padding: 20px;
}

.btn-link {
  width: 10em;
  font-size: 20px;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin: 40px 30px 0px 0px;
  background-color: #ef9cb9;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

#skills h2 {
  display: inline-block;
  border-bottom: 3px solid grey;
  margin-left: 20px;
  padding: 40px 100px 10px 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  margin-top: 50px;
}

.item {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
.item i {
  font-size: 3em;
  color: #ba9b4a;
  margin: 10px 0 20px 0;
}
.item .testing,
.item .sass {
  line-height: 2.5;
}
.item span {
  font-size: 2em;
  color: #ba9b4a;
  font-weight: 800;
  padding-left: 5px;
}

#projects h2 {
  display: inline-block;
  border-bottom: 3px solid grey;
  margin-left: 20px;
  padding: 40px 100px 10px 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  margin-top: 50px;
}
#projects .card-container {
  width: 100%;
  height: 15em;
  cursor: pointer;
  perspective: 700px;
}
#projects .card-container .card {
  border: 1px groove #535252;
  border-radius: 10px;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 5px 10px 8px #888888;
  text-align: center;
}
#projects .card-container .card .card-front {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  backface-visibility: hidden;
}
#projects .card-container .card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background: linear-gradient(#f3b61f, #191923);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
}
#projects .card-container .card .card-back .card-back-icon {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#projects .card-container .card .card-back .card-back-icon .fa-icon {
  color: #000000;
}
#projects .card-container:hover .card {
  transform: rotateY(180deg);
}
#projects .front1 {
  background: url("../images/beer-min.png");
}
#projects .front2 {
  background: url("../images/aliens-min.png");
}
#projects .front3 {
  background: url("../images/codeMorse-min.png");
}
#projects .front4 {
  background: url("../images/mole-small.webp");
}

.top-container {
  align-self: flex-start;
  padding: 10px 20px;
  margin-top: 50px;
}
.top-container h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
}

.form {
  background-color: rgba(225, 229, 228, 0.5);
  padding: 20px;
}
.form__box {
  flex: 0 1 70%;
}
.form__box__button {
  font-size: 20px;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  padding: 5px 20px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #f3b61f;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

input[type=text] {
  width: 70%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  display: block;
}

input[type=email] {
  width: 70%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  display: block;
}

textarea {
  width: 100%;
  display: block;
  padding: 10px 5px;
  resize: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin: 5px 0;
}

.end__left {
  margin-left: 20px;
  color: white;
}

.end__right img {
  width: 40px;
  margin-right: 40px;
}