@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Merriweather+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik+Beastly&family=Signika+Negative:wght@300&display=swap');

$font-logo: "Fredericka the Great",
cursive;
$font-main: 'PT Serif',
serif;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}