@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Merriweather+Sans:wght@400;700&display=swap");

$font-logo: "Fredericka the Great", cursive;
$font-main: "Merriweather sans", "Roboto", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}
