header {
  height: 10vh;
  width: 100%;
  background-color: #babbb4;
  /*rgb(162, 156, 163);*/
  /*border: 2px solid red;*/
  /*position: fixed;*/
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  /*border: 2px solid green;*/
}
header .navbar a {
  text-decoration: none;
  color: #000;
  padding: 0 30px;
}
header .navbar a:hover {
  background-color: #928644;
  transition: 0.9s;
}

.box-landing {
  background-image: url(./images/laptop-dark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-about-flex {
  /*border: 2px solid brown;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box-about-flex .box-img {
  /* width: 40%;*/
  /*border: 2px solid purple;*/
  /*flex: 0 0 40%;*/
  flex: 30%;
}
.box-about-flex .box-text {
  /*border: 2px solid green;*/
  padding: 30px;
  line-height: 1.8;
  /*flex: 0.8 0 auto;*/
  flex: 50%;
}

.grid-container-skills {
  width: 100%;
  /*border: 2px solid purple;*/
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.grid-container-skills > div {
  height: 15em;
  text-align: center;
  background-color: white;
  border: 2px solid #535252;
}

.grid-container-projects {
  /*border: 2px solid red;*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.grid-container-projects .grid-item {
  height: 15em;
  text-align: center;
  background-color: white;
  border: 2px solid #535252;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.end {
  width: 100%;
  height: 10vh;
  margin-top: 40px;
  background-color: #babbb4;
  /*hsla(284, 7%, 40%, 0.589);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .end {
    flex-direction: column;
    height: auto;
  }
  .end .end__left {
    display: none;
  }
}
/*grid skills container for tablet*/
@media screen and (max-width: 991px) {
  .grid-container-skills,
.grid-container-projects {
    grid-template-columns: repeat(2, 50%);
  }
}
/* For mobile phones grid and flex-box contact form */
@media screen and (max-width: 600px) {
  .grid-container-skills {
    grid-template-columns: repeat(1, 100%);
  }

  .grid-container-projects {
    grid-template-columns: repeat(1, 100%);
  }

  #contact {
    flex-direction: column;
  }
}
/*for mobile flex container about section*/
@media screen and (max-width: 768px) {
  .box-about-flex {
    flex-direction: column;
  }
}
/*header container mobile version*/
@media screen and (max-width: 991px) {
  header {
    align-content: center;
    height: auto;
    font-size: 1rem;
  }
  header .navbar {
    flex-direction: column;
    align-items: left;
    align-content: center;
    width: 100%;
  }
}