@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Merriweather+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik+Beastly&family=Signika+Negative:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #babbb4;
  /*rgb(162, 156, 163);*/
  /*border: 2px solid red;*/
  /*position: fixed;*/
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  /*border: 2px solid green;*/
}
header .navbar a {
  text-decoration: none;
  color: #000;
  padding: 0 30px;
  font-family: "Fredericka the Great", cursive;
  text-shadow: 2px 2px 4px #d1cfcf;
}
header .navbar a:hover {
  background-color: #928644;
  transition: 0.9s;
}

.box-landing {
  background-image: url(./images/IMG_1775.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-color: #6e6c6c;
}

.box-about-flex {
  border: 2px solid brown;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.box-about-flex .box-img {
  /* width: 40%;*/
  /*flex: 0 0 40%;*/
  flex: 30%;
}
.box-about-flex .box-text {
  /*border: 2px solid green;*/
  padding: 30px;
  line-height: 1.8;
  /*flex: 0.8 0 auto;*/
  flex: 50%;
  text-shadow: 2px 2px 4px #d1cfcf;
}

.grid-container-skills {
  width: 100%;
  /*border: 2px solid purple;*/
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.grid-container-skills > div {
  height: 15em;
  text-align: center;
  background-color: white;
  border: 2px solid #535252;
}

.grid-container-projects {
  /*border: 2px solid red;*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.grid-container-projects .grid-item {
  height: 15em;
  text-align: center;
  background-color: white;
  border: 2px solid #535252;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.end {
  width: 100%;
  height: 10vh;
  margin-top: 40px;
  background-color: #babbb4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .end {
    flex-direction: column;
    height: auto;
  }
  .end .end__left {
    display: none;
  }
}
/*grid skills container for tablet*/
@media screen and (max-width: 991px) {
  .grid-container-skills,
.grid-container-projects {
    grid-template-columns: repeat(2, 50%);
  }
}
/* For mobile phones grid and flex-box contact form */
@media screen and (max-width: 600px) {
  .grid-container-skills {
    grid-template-columns: repeat(1, 100%);
  }

  .grid-container-projects {
    grid-template-columns: repeat(1, 100%);
  }

  #contact {
    flex-direction: column;
  }
}
/*for mobile flex container about section*/
@media screen and (max-width: 768px) {
  .box-about-flex {
    flex-direction: column;
  }
}
/*header container tablet version*/
@media screen and (max-width: 991px) {
  header {
    justify-content: center;
    align-content: center;
    height: auto;
  }
  header .navbar {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
  }
}
#logo {
  font-size: 2.5rem;
  font-weight: bold;
}
#logo .sign {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.788);
  border-radius: 30px;
  font-family: "Fredericka the Great", cursive;
  color: #9a8f62;
  /*rgb(149, 100, 100);*/
  padding: 0 30px;
  margin-left: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(187, 172, 107, 0.849);
}

@media screen and (max-width: 991px) {
  #logo {
    font-size: 1.5rem;
  }
}
.box-title {
  width: 50rem;
  padding: 20px;
  background-color: rgba(90, 90, 89, 0.6);
  /*border: 2px solid blue;*/
  box-shadow: inset 5px 5px 10px rgba(187, 172, 107, 0.849), inset 5px 5px 10px #000000, inset 5px 5px 10px #000000, inset -5px -5px 10px rgba(5, 5, 5, 0.918);
}
.box-title .title {
  /*border: 2px solid yellow;*/
  text-align: center;
}
.box-title .title p {
  color: white;
  font-size: 3em;
  padding: 10px 0;
  font-family: "Fredericka the Great", cursive;
  text-shadow: 2px 2px 4px #000000;
}
.box-title .link {
  margin-bottom: 20px;
  text-align: center;
  /*border:2px solid red;*/
}
.box-title .link .btn-link1 {
  width: 10em;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #CABE92;
  /*rgba(149, 100, 100, 0.8);*/
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .box-title {
    font-size: 0.7rem;
    width: auto;
  }
}
#about {
  border: 2px solid green;
}
#about h2 {
  display: inline-block;
  border-bottom: 3px solid grey;
  padding: 40px 100px 10px 30px;
  margin-left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Fredericka the Great", cursive;
  text-shadow: 2px 2px 4px #d1cfcf;
}

.text-header {
  color: rgba(229, 139, 144, 0.8);
  font-size: 30px;
  text-shadow: 2px 2px 4px #d1cfcf;
}

.text-subheader {
  font-size: 25px;
}

#profile-img {
  width: 100%;
  height: auto;
  padding: 20px;
}

.btn-link {
  width: 10em;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin: 40px 30px 0px 30px;
  background-color: rgba(229, 139, 144, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

#skills {
  /*border: 2px solid red;*/
  background-color: rgba(216, 213, 213, 0.24);
}
#skills h2 {
  display: inline-block;
  border-bottom: 3px solid grey;
  margin-left: 20px;
  padding: 40px 100px 10px 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Fredericka the Great", cursive;
  text-shadow: 2px 2px 4px #d1cfcf;
}

.item i {
  /*border: 2px solid green;*/
  font-size: 3em;
  color: #CABE92;
  margin: 20px 0;
}
.item span {
  font-size: 2em;
  color: rgba(190, 133, 190, 0.8);
  font-weight: 800;
  padding-left: 5px;
}

#projects h2 {
  display: inline-block;
  border-bottom: 3px solid grey;
  margin-left: 20px;
  padding: 40px 100px 10px 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Fredericka the Great", cursive;
  text-shadow: 2px 2px 4px #d1cfcf;
}

.top-container {
  align-self: flex-start;
  /*border: 2px solid green;*/
  padding: 10px 20px;
}
.top-container h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #d1cfcf;
}

.form {
  background-color: rgba(225, 229, 228, 0.5);
  padding: 20px;
}
.form__box {
  /*border:2px solid orange;*/
  flex: 0 1 70%;
}
.form__box__button {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #CABE92;
  /*rgba(149, 100, 100, 0.8);*/
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

input[type=text] {
  width: 70%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  display: block;
}

input[type=email] {
  width: 70%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  display: block;
}

textarea {
  width: 100%;
  display: block;
  padding: 10px 5px;
  resize: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin: 5px 0;
}

/*label {
  border: 2px solid red;
}
input {
  border: 2px solid green;
}*/
.end__left {
  margin-left: 20px;
}

.end__right img {
  width: 40px;
  margin: 10px 10px;
}